<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar-left">
    <mat-icon class="me-1">assignment</mat-icon>
    <span class="fw-bold">Task Manager</span>
  </div>

  <div class="toolbar-right">
    <a mat-button
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }">
   <mat-icon>home</mat-icon> <span>Home</span>
 </a>
 
 <a mat-button
    routerLink="/tasks"
    routerLinkActive="active-link">
   <mat-icon>list</mat-icon> <span>Task List</span>
 </a>
 
 <a mat-button
    routerLink="/tasks/new"
    routerLinkActive="active-link">
   <mat-icon>add</mat-icon> <span>Add Task</span>
 </a>
  </div>
</mat-toolbar>

<main class="container py-4">
  <router-outlet></router-outlet>
</main>

<footer class="bg-light text-center py-3 mt-auto border-top">
  <small>&copy; 2025 Task Manager App. All rights reserved.</small>
</footer>
